<launch>
  <arg name="tf_dynamic" default="true"/>
  <arg name="camera_link" default="dynamic_kinect_frame"/>
  <arg name="base_link" default="waist_link"/>
  <arg name="tf_msg" default="/tf_msg/dynamic_kinect_frame"/>
  <arg name="tf_base" default="/tf_msg/base_frame"/>
  <arg name="queue_size" default="30"/>
  <arg name="timestamp" default="0.12"/>

  <!-- sensor filter settings -->
  <arg name="xf" default="0"/>
  <arg name="yf" default="-1.0"/>
  <arg name="thetaf" default="0.707"/>

  <!-- static camera settings -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0"/>
  <arg name="r" default="0.0"/>

  <arg name="parent_transform" default="$(arg x) $(arg y) $(arg z) $(arg r) 0 1.57"/>
  <node name="kinect_transform" pkg="tf" type="static_transform_publisher"
        args="$(arg parent_transform) /map $(arg camera_link) 1000"
        unless="$(arg tf_dynamic)"/>

  <node name="static_sensor_tf" pkg="roboenvcv"
        type="static_sensor_tf" output="screen"
        args="$(arg parent_transform)"
        unless="$(arg tf_dynamic)">
      <remap from="/tf_msg/static_sensor" to="$(arg tf_msg)"/>
  </node>

  <node name="static_sensor_tf" pkg="roboenvcv"
        type="static_sensor_tf" output="screen"
        args="$(arg parent_transform)"
        unless="$(arg tf_dynamic)">
      <remap from="/tf_msg/static_sensor" to="$(arg tf_msg)"/>
  </node>

  <node name="dynamic_base_tf" pkg="roboenvcv" type="dynamic_sensor_tf">
        <param name="dynamic_frame" value="$(arg base_link)"/>
        <remap from="/tf_msg/dynamic_sensor" to="$(arg tf_base)"/>
  </node>

  <group if="$(arg tf_dynamic)">
    <node name="dynamic_sensor_tf" pkg="roboenvcv" type="dynamic_sensor_tfstamped">
          <param name="dynamic_frame" value="$(arg camera_link)"/>
          <remap from="/tf_msg/dynamic_sensor" to="$(arg tf_msg)"/>
    </node>
  </group>

  <node name="sensordirection_filter" pkg="roboenvcv" type="sensordirection_filter">
        <param name="x" value="$(arg xf)"/>
        <param name="y" value="$(arg yf)"/>
        <param name="theta" value="$(arg thetaf)"/>
        <param name="queue_size" value="$(arg queue_size)"/>
        <param name="timestamp" value="$(arg timestamp)"/>
        <remap from="/tf_msg/sensor" to="$(arg tf_msg)"/>
        <remap from="/tf_msg/base" to="$(arg tf_base)"/>
  </node>
</launch>