<launch>
  <arg name="tf_dynamic" default="true"/>
  <arg name="camera_link" default="dynamic_kinect_frame"/>
  <arg name="tf_msg" default="/tf_msg/dynamic_kinect_frame"/>

  <!-- static camera settings -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0"/>
  <arg name="r" default="0.0"/>

  <arg name="parent_transform" default="$(arg x) $(arg y) $(arg z) $(arg r) 0 1.57"/>
  <node name="kinect_transform" pkg="tf" type="static_transform_publisher"
        args="$(arg parent_transform) /map $(arg camera_link) 1000"
        unless="$(arg tf_dynamic)"/>

  <node name="static_sensor_tf" pkg="roboenvcv"
        type="static_sensor_tf" output="screen"
        args="$(arg parent_transform)"
        unless="$(arg tf_dynamic)">
      <remap from="/tf_msg/static_sensor" to="$(arg tf_msg)"/>
  </node>

  <group if="$(arg tf_dynamic)">
    <node name="dynamic_sensor_tf" pkg="roboenvcv" type="dynamic_sensor_tfstamped">
          <param name="dynamic_frame" value="$(arg camera_link)"/>
          <remap from="/tf_msg/dynamic_sensor" to="$(arg tf_msg)"/>
    </node>
  </group>
</launch>